[Unit]
Description=Firmware and bootloader version check for Bluefield
After=getty.target

[Service]
Type=idle
ExecStartPre=/usr/bin/bfup
ExecStart=/usr/bin/bfvcheck
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
